<p id="notice"><%= notice %></p>
<pre>
<p>
  <strong>Main:</strong>
  <%= @weather.main %>
</p>

<p>
  <strong>Description:</strong>
  <%= @weather.description %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @weather.icon %>
</p>


